@media print {
  :global(body *) {
    visibility: hidden;
  }
  .printArea,
  .printArea * {
    visibility: visible;
  }
  .printArea {
    position: absolute;
    inset: 0;
    padding: 0;
  }
  .noPrint {
    display: none !important;
  }
  .item {
    break-inside: avoid;
  }
}
